body {
  background-color: #263238;
}

app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

app-signup, app-login, app-profile {
  margin: auto 0;
}

app-profile {
  align-self: center;
}
